/*ПОСТІЙНІ КЛІЄНТИ*/
.clients {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;


@media screen and(min-width: 1200px) {
    padding-top: 94px;
        padding-bottom: 94px;
        padding-left: 0;
        padding-right: 0;
    }
    
}


.clients__list {

         display: flex;
         flex-wrap: wrap;
         gap: 30px;
    
         @media screen and(min-width: 1200px) {
             display: flex;
             justify-content: center;
         }
}

.clients__title {
    margin-bottom: 50px;
    color: $basic-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16; 
    text-align: center;
}

.clients__item {
    fill: $svg-color;
    height: 92px;
        flex-basis: calc((100% - 30px) / 2);
    
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 60px) / 3);
        }
    
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 150px) / 6);
            
        }

}

.clients__link {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    
    height: 92px;
    

    border: 1px solid $svg-color;
    border-radius: 4px;
    fill: $svg-color;
    transition: fill $time-duration $cubic-bezier,
        border $time-duration $cubic-bezier;

    &:hover ,
    &:focus  {
    fill: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
            width: 170px;
        }
}
}

.clients__list {

    // display: flex;
    // justify-content: center;
    // align-items: center;
}

