.header__container {
    column-gap: 93px;
    height: 60px;
}

.header {
    .header__container{
        display: flex;
        align-items: center;
    }
    
}
   .header__nav{
            column-gap: 50px;
            display: flex;
            justify-content: flex-end;

        }
        @media (max-width: 780px) {
            .header__nav {
                display: none;
            }
        }

//  @media (max-width: 780px) {
//      .header-contacts {
//          display: none;
//      }
//  }

    .header__link {
        
    display: flex;
    color: $basic-color;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    .current & {
        color: $accent-color;
    }
    transition: color $time-duration $cubic-bezier;
 

        padding-top: 32px;
        padding-bottom: 32px;
        
        position: relative;
        transition: color $time-duration $cubic-bezier;
        }


    .header-contacts {
            margin-left: auto;
            color: inherit;
            display: flex;
            column-gap: 10px;
            align-items: center;
        }

        

.header__currents {
    &:hover,
    &:focus {
            transition: color $time-duration $cubic-bezier,
            fill $time-duration $cubic-bezier;
        }
    
}

.header__item {
    line-height: 0;
}

.current::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color:$accent-color;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
}

