.team-card-thumb {
    width: 418px;
    height: 360px;
}

@media screen and (min-width: 768px) {
    
    .team-card-thumb {

        width: 354px;

    }
}

@media screen and (min-width: 1200px) {

    .team-card-thumb {

        width: 270px;

    }
}

