/* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: $time-duration $cubic-bezier;
}

.modal {
    position: absolute;
   

    padding: 40px 40px;

    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-color;
    width: 528px;
    box-shadow: 0px 1px 3px rgba(73, 33, 33, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.modal-title {

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15px;
    letter-spacing: 0.03em;

    color: $basic-color;
    margin-bottom: 17px;
    margin-top: 20px;

}


.close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    padding: 6px 6px;
    background: $white-color;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill $time-duration $cubic-bezier;
}

.close-button{

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}


.item-currents {
    transition: fill $time-duration $cubic-bezier;
}

.svg-transition {

    transition: fill $time-duration $cubic-bezier;
}