/* НАША КОМАНДА */
.team-member {
    margin-top: 0;
    margin-bottom: 10px;
}

.section-team {
    width: 480px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-item {
    // display: flex;
    margin-left: 30px;
}

.team-member-list {
    // display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.team-member-list{
    .item {
            // display: flex;
            margin-top: calc(-1 * $card-set-gap);
            margin-left: $card-set-gap;
            flex-basis: calc(100% / 4 - $card-set-gap);
            padding-top: 50px;
            padding-bottom: 94px;
        }
}

.team-card-content {
    padding-top: 30px;
    padding-bottom: 30px;
    }

.team-member {
    margin-bottom: 10px;
    color: $basic-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.job-education {
    margin-top: 0;
    margin-bottom: 16px;
    color: $contacts-and-paragraph-color;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-team {
    background-color: $secondary-bg-color;
}

.team-member-list {
    padding: 0;
    margin: 0;
    list-style: none;
    // display: flex;
}

.team-card-social {
    // display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.social-item {
    // display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.social-link{
    &:hover ,
    &:focus  {
    fill: $white-color;
    background-color: $accent-color;
}
}

.social-item{
    .item:not(:last-child) {
    margin-right: 10px;
}
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    fill: $svg-color;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: fill $time-duration $cubic-bezier,
        background-color $time-duration $cubic-bezier;

}