/* НАША КОМАНДА */
.team-member {
    margin-top: 0;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-bottom: 10px;
        }
    
}

.team-card-thumb{ 
    
@media screen and (min-width: 768px) {
        width: 354px;
        height: 374px;
    }
 @media screen and (min-width: 1200px) {
     width: 270px;
     height: 260px;
 }
}

.card-img{
    width: 450px;
    margin: 0;
    
}
.section-title {

    margin-bottom: 50px;
    color: $basic-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

@media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
        }
}

.section-team {
    padding-top: 60px;
    padding-bottom: 60px;
    

    @media screen and (min-width: 768px) {
            padding-top: 60px;
                padding-bottom: 60px;
        }
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.team-item {
    display: flex;
        border-radius: 0px 0px 4px 4px;
        
    
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 428px;
        }
    // display: flex;
    // margin-left: 30px;
}

.team-member-list {
    
        display: flex;
           flex-wrap: wrap;
           gap: 30px;
            @media screen and (min-width: 1200px) {
                flex-wrap: nowrap;
            }
    // display: flex;
    // margin-top: 0;
    // margin-bottom: 0;
}

.team-member-list{
    .item {
        margin-top: calc(-1 * $card-set-gap);
            margin-left: $card-set-gap;
            flex-basis: calc(100% / 4 - $card-set-gap);
            padding-top: 50px;
            padding-bottom: 94px;
    }
        }

            // @media screen and (min-width: 768px) {
            //         flex-basis: calc((100% - 60px) / 2);
            //     }
            
            //     @media screen and (min-width: 1200px) {
            //         flex-basis: calc((100% - 150px) / 6);
            //     }
           
       

.team-card-content {
        @media screen and (min-width: 1200px) {
        
            padding-bottom: 30px;
            }
    
    }

.team-member {
    margin-bottom: 10px;
    color: $basic-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;

    
}

.job-education {
    margin-top: 0;
    margin-bottom: 16px;
    color: $contacts-and-paragraph-color;
    font-size: 16px;
    line-height: 1.18;
    display: flex;
    justify-content: center;
    align-items: center;

}

.team-card {
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 20px;
}

.section-team {
    background-color: $secondary-bg-color;
    // background-color: $secondary-bg-color;
}

.team-member-list {
    
    // padding: 0;
    // margin: 0;
    // list-style: none;
    // display: flex;
}

.team-card-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
        padding-top: 16px;

    padding-bottom: 30px;
   
}

.social-item {
    display: flex;
    
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-link{
    &:hover ,
    &:focus  {
    fill: $white-color;
    background-color: $accent-color;
}
}

.social-item{
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1200px) {
                .item:not(:last-child) {
    margin-right: 10px;
}
        }

}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    fill: $svg-color;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: fill $time-duration $cubic-bezier,
        background-color $time-duration $cubic-bezier;
    

}

.team-card-social {

    @media screen and (min-width: 1200px) {
                display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
        }

}