ul {
    list-style: none;
    padding-left: 0;
}

body {
    background-color: #fff;
    color: #000000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
// display: block;
// min-width: 100%;
// height: auto;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    position: relative;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
} 
button {
    padding: 0;
    border: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    // width: 1200px;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 15px;
    // padding-right: 15px;
}

.section .no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section {
    // min-width: 1200px;
    // padding-top: 94px;
    // padding-bottom: 94px;
}