// Переменные
$basic-color: #212121;
$accent-color: #2196f3;
$contacts-and-paragraph-color: #757575;
$logo-color: #000;
$white-color: #fff;
$background-hero-and-footer: #2F303A;
$secondary-bg-color: #F5F4FA;
$card-set-gap: 30px;
$border-prtf-img: #EEEEEE;
$svg-color: #AFB1B8;
$time-duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);